<form class="signupform1"> 
    <h1>Sign Up Form</h1>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input  required="" ngModel name="emailname" #emailname ="ngModel" [(ngModel)]="singnupobj.email" 
      type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input  required="" ngModel name="passwordname" #passwordname ="ngModel" [(ngModel)]="singnupobj.password"
       [type]=changetypesignup class="form-control" id="exampleInputPassword1" placeholder="Password">
       
    </div>
    <br>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onclicksignupcheckbox()">
      <label class="form-check-label" for="exampleCheck1">Show Password</label>
      
    </div>
    <br>
    <button (click)="signupformsubmit()" type="submit" class="btn btn-primary">Submit</button>
    
    <a style="margin-left: 300px;" routerLink="/loginform">Log IN</a>
</form>